table.table-sm {
    border-color: black;
    background-color: white;
  }
/* table.table-sm > tbody {
    overflow-y: scroll;
    height: 200px;
    position: absolute;
  } */
table.table-sm > tbody > tr {
    width: 100%;
    /* display: inline-table;
    table-layout: fixed; */
}
.page-title-info {
    color: white;
    text-align: center;
}
table.table-sm > thead > tr > th{
    border-color: black;
    font-size: small;
}
table.table-sm > tbody > tr > td{
    border-color:black;
    font-size: small;
}
table.table-sm > tbody > tr > th{
    border-color: black;
    font-size: small;
}
.container-lg-table {
    padding-left: 250px;
    padding-right: 250px;
    /* text-align: center; */
    /* position: relative;
    overflow: auto;
    height: 300px;
    display: block; */
    padding-bottom: 50px;
}

.navbar.navbar-expand-lg.navbar-light {
    background:transparent;
    top:0;
    height:85px;
}
.navbar.navbar-expand-lg.navbar-light > a {
    font-size: 4rem;
    color:#fff;
}
.navbar.navbar-expand-lg.navbar-light > div > ul > li > a {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-right: 2.0rem;
    color: #fff;
}
.landing-page-conditions {
    text-align: center;
    font-size: 3rem;
    padding-left: 30px;
    color: #fff;
    padding-top: 30px;
}
.landing-page-info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 20pt;
    color: #fff;
    padding-top: 15px;
}
.landing-page-involved {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    padding-top: 40px;
}
.landing-page-involved-info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 20pt;
    color: #fff;
    padding-top: 15px;
}
.imgbox {
    background-size: cover;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
}
.navbar.navbar-expand-lg.navbar-light > a:hover {
    color:white;
}
.navbar.navbar-expand-lg.navbar-light > div > ul > li > a:hover {
    color:white;
}
#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    color: white;
    text-align: center;
}
.container-lg.bike-section {
    width:50%;
}

.message {
    text-align: center;
    color: white;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}
.navbar-light .navbar-toggler-icon {
    color: white;
}

.navbar-light.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
 .navbar-toggler {
    background-color: white;
    border-color: rgb(255,255,255);
  }

#wrap {
      position: relative;
} 

#footer {
    position: absolute;
    bottom: 0px;
    height: 25px;
    color: whitesmoke;
    align-content: center;
    text-align: center;
} 