table.table-bordered.table-dark{
    border-color: #fff;
  }
table.table-bordered.table-dark > thead > tr > th{
	border-color: #fff;
}
table.table-bordered.table-dark > tbody > tr > td{
    border-color: #fff;
}
table.table-bordered.table-dark > tbody > tr > th{
    border-color: #fff;
}
/* .page-home {
    font-family: "Noto Sans", Times, serif;
    font-weight: 300;
    color:#fff;
} */
.navbar.navbar-expand-lg.navbar-light {
    background:transparent;
    top:0;
}
.navbar.navbar-expand-lg.navbar-light > a {
    font-size: 4rem;
    color:#fff;
}
.navbar.navbar-expand-lg.navbar-light > div > ul > li > a {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-right: 2.0rem;
    color: #fff;
}
.landing-page-conditions {
    text-align: center;
    font-size: 3rem;
    padding-left: 30px;
    color: #fff;
    padding-top: 30px;
}
.landing-page-info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    /* background-color: rgb(245, 245, 245); */
    line-height: 20pt;
    color: #fff;
    padding-top: 15px;
}
.landing-page-involved {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    padding-top: 40px;
}
.landing-page-involved-info {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    /* background-color: rgb(245, 245, 245); */
    line-height: 20pt;
    color: #fff;
    padding-top: 15px;
}
.imgbox {
    /* display: grid; */
    background-size: cover;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
}
.navbar.navbar-expand-lg.navbar-light > a:hover {
    color: white;
    /* background-color: white; */
}
.navbar.navbar-expand-lg.navbar-light > div > ul > li > a:hover {
    color: white;
    /* background-color: white; */
}
#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    color: white;
    text-align: center;
}
