{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body%}
<body class= "imgbox" style="background-image: url('/static/images/brown-wooden-bridge-near-forest-967420.jpg')">
	<div>
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			  <ul class="navbar-nav">
				<li class="nav-item">
				  <a class="nav-link" href="/bike">Biking</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/hike">Hiking</a>
				</li>
			  </ul>
			</div>
		</nav>
	</div>
	<div>
		<h1 class="landing-page-conditions">
			Welcome to the Trail Condition Finder
		</h1>
	</div>
	<div class="container-lg">
		<h5 class="landing-page-info">
			We provide a tool that aggregates data from MTBProject, Darksky, and Google maps to provide you with an all inclusive trail 
			guide.  We use the data provided by people like you who review the trails.  With this data and the weather data 
			from Darksky we aim to provide you with the most up to date trail conditions.  We search for all the trails within a given 
			distance to provide you with the most comprehensive list.  We provide two trail types: Mountain Biking and Hiking.  
			To get started, simply select which trail type you would like to search for at the top of the page and you will be
			redirected to enter the address of which you would like to search.  
		</h5>
	</div>
	<div class="container-lg">
		<h1 class="landing-page-involved">
			How to Help
		</h1>
		<h5 class="landing-page-involved-info">
			Want to know how you could help out and get involved?  The best way is to head over to MTBProject.com and leave reviews
			on your favorite trails that you ride everyday.  The best way to help with these reviews is to do your best to review 
			the conditions as you are riding.  This is part of the data that we use in our algorithms to estimate the current conditions.
		</h5>
	</div>
	<footer id="footer">
		<p>
			<a href="https://darksky.net/poweredby/">
				Powered by Dark Sky
			</a>
		</p>
		Photo by Tyler Lastovich from Pexels
	</footer>
</body>
{% endblock %}